{% extends 'base.template' %} {% block content %}

<section>

	{% for a in item | sort(attribute='created') %}
	<div class="card">
		<form method="post" action="/task_delete?key={{ a.key }}">
		<p>
			{{ a.created | datefilter }}
			<br>
			<br>
			{{ a.subject }}
			<br>
			<br>
			{{ a.plain_body }}
		</p>
    <input class="bttn" type="submit" value="Delete" />
		</form>
	</div>
	<br> {% endfor %}

</section>

{% endblock %}
